:root {
  --font-sans: "DM Sans", system-ui, sans-serif;
  --font-serif: "DM Sans", system-ui, sans-serif;
  --font-mono: "DMMono-Regular", system-ui, sans-serif;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("DM Sans Light"),
    url(/fonts/DMSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("DM Sans Regular"),
    url(/fonts/DMSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("DM Sans SemiBold"),
    url(/fonts/DMSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("DM Sans Bold"),
    url(/fonts/DMSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "DMMono-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("DM Mono"),
    url(/fonts/DMMono-Regular.ttf) format("truetype");
}
